:root{
  --color-negro:#222831;
  --color-aqua:#40DFEF;
}

body{
  margin: 0;
  margin-top: 50px;
  padding: 0;
  text-align: center;
  background-color: var(--color-aqua);
}

h1{
  color: var(--color-negro);
  margin-top: 0;
  margin-bottom: 0;
}
h3{
  color: var(--color-negro);
}

hr{
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-top-color: grey;
  border-width: 5px;
}

table{
  border: none;
}
img{

}
.cloud1{
  position: relative;
  left: 241px;
}
.cloud2{
  position: absolute;

}
