:root{
  --color-raro:#00ADB5;
}

h1{
  color: var(--color-raro);
}

h3{
  color: var(--color-raro);
}

hr{
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-top-color: grey;
  border-width: 5px;
}
