:root{
  --color-raro:#00ADB5;
}

body{
  margin: 0;
  padding: 0;
}

h1{
  color: var(--color-raro);
  margin-top: 0;
  margin-bottom: 0;
}

h3{
  color: var(--color-raro);
}

hr{
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-top-color: grey;
  border-width: 5px;
}

table{
  border: none;
}
